.emptyCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}
.emptyCart h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}
.emptyCart p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #17BD8D;
}
.emptyCart button {
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  background: var(--secondary-color);
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}
.cartPageContainer {
  padding: 2% 10% 2% 10%;
  display: flex;
  flex-direction: column;
}
.cartContainer {
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
}
.cartItems {
  display: flex;
  flex-direction: column;
}
.priceDetailsCard {
  width: 30%;
  text-align: left;
  height: fit-content;
  background: #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.priceDetailsCard h3 {
  text-transform: uppercase;
}
.cardHeading,
.priceBreakdown,
.totalAmount {
  padding: 3% 0%;
  border-bottom: 1px solid black;
}
.priceBreakdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.individualPrice,
.totalAmount {
  display: flex;
  justify-content: space-between;
}
.amountSavedSummary {
  padding: 3% 0%;
}
.priceDetailsCard button {
  width: 100%;
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  color: white;
  background: var(--secondary-color);
}
@media screen and (max-width: 768px) {
  .cartPageContainer {
    padding: 2%;
  }
  .priceDetailsCard {
    width: auto;
    padding: 1rem;
  }
  .priceDetailsCard h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 550px) {
  .cartContainer {
    display: flex;
    flex-direction: column;
  }
  .emptyCart h1{
    font-size: 1.8rem;
  }
  .emptyCart button{
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
  }
  .emptyCart p{
    font-size: 1rem;
  }
}
