:root{
  --text-color: #17bd8d
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
.sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section, .selectedSection{
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.selectedSection{
  background: #e4fffb;
  color: var(--text-color);
}
.mainContainer {
  width: 30%;
  margin-top: 2%;
}
.userDetails, .userAddresses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 20px;
  margin-top: 5%;
  padding: 2% 5%;
  box-shadow: 5px 5px 5px rgba(50, 50, 71, 0.06);
}
.userDetails button {
  width: 40%;
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  color: white;
  background: red;
}
.userDetailsContent {
  margin: 3% 0%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.nameContainer,
.emailContainer {
  display: flex;
}
.nameContainer {
  gap: 10%;
}
.emailContainer {
  gap: 25%;
}
