:root{
  --text-color: #17bd8d;
  --highlight-color: #9b9a99
}
.productDetailsContainer {
  display: flex;
  gap: 10%;
  padding: 5% 10%;
  text-align: left;
}
.imageContainer,
.individualProductDetails {
  border: 1px solid #ccc;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
}
.individualProductDetails {
  border: none;
}
.productDetailsContainer img {
  height: 500px;
  border-radius: 20px;
}
.productLabels {
  display: flex;
  gap: 1rem;
}
.individualProductDetails {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.normalLabel {
  padding: 0.5rem;
  background: #e4fffb;
  border-radius: 0.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
}
.topSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  padding-bottom: 2%;
  border-bottom: 1px solid #ccc;
}
.bookInfoDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2% 0%;
}
.formatsSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: capitalize;
  padding-bottom: 2%;
  border-bottom: 1px solid #ccc;
}
.formatsSection p span {
  color: var(--highlight-color);
}
.formatsContainer {
  display: flex;
  gap: 2%;
}
.selectedFormat,
.format {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #e4e9e8;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
.selectedFormat {
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
.actionButtons {
  padding: 2% 0%;
  display: flex;
  gap: 2%;
}
.actionButtons button {
  width: 20%;
}
.moreAboutBookSection{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2%;
}
.genresSection{
  display: flex;
  gap: 2%;
  width: 100%;
}
.genresSection .label{
  color: var(--highlight-color);
}
.genresContainer{
  width: 100%;
  display: flex;
  gap: 1%;
}
.individualProductPrice{
  margin-top: 0.5rem;
  color: var(--text-color);
  font-weight: bold;
}
.pagesSection{
  color: var(--highlight-color);
}
.productPricingDiv{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.outOfStockProductDetail{
  width: fit-content;
  border-radius: 5px;
  background: #f9d5cb;
  color: #6c6c6c;
  margin-bottom: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .productDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5%;
  }
  .imageContainer{
    align-self: center;
  }
}
@media screen and (max-width: 550px) {
  .productDetailsContainer img{
    height: 250px;
  }
  .individualProductDetails{
    width: auto;
  }
  .formatsContainer, .genresContainer{
    flex-wrap: wrap;
  }
  .genresContainer{
    gap: 3%;
  }
  .formatsContainer p:nth-child(4){
    margin-top: 2%;
  }
  .actionButtons button{
    width: auto;
  }
}