.checkoutPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  gap: 10%;
  padding: 2% 10%;
}
.addressSelectContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: flex-start;
}
.addressContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.singleAddressCard,
.selectedSingleAddressCard {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 5%;
  border-radius: 10px;
  background: #e4e9e8;
}
.selectedSingleAddressCard {
  outline: 2px solid #17bd8d;
}
.checkoutCard{
    border: 1px solid black;
}