:root {
  --background-color: #101313;
}
footer {
  background: var(--background-color);
  color: white;
}
.generalInfo {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 9%;
}
.aboutApp,
.personalInfo,
.copyrightSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
.copyrightSection {
  border-top: 0.2px solid #f9fcfb;
  padding: 1% 0%;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .generalInfo{
    padding: 2.5% 4%;
  }
}