:root {
  --background-color: #101313;
}

footer {
  background: var(--background-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5% 0;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.socialIcons a {
  color: white;
}

@media screen and (max-width: 550px) {
  footer{
    padding: 2.5% 4%;
  }
}