.filterContainer {
  height: 100%;
  border-right: 1px solid black;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}
.clearAllFilters {
  cursor: pointer;
}
.filterContainer .filterHeader {
  display: flex;
  justify-content: space-between;
}
.singleCategoryFilter,
.singleRating,
.sortByPrices {
  display: flex;
  gap: 1rem;
}
.availablePrices {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.categoriesContainer,
.ratingsContainer,
.priceSortContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.categoriesFilter,
.ratingsFilter,
.pricingSortFilter {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .filterContainer {
    position: fixed;
    z-index: 2;
    top: 11%;
    background: #f8f8f8;
  }
  .hide,
  .show {
    transition: left 0.5s ease-in-out;
  }
  .hide {
    left: -30rem;
  }
  .show {
    left: 0;
  }
}
