@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
:root {
  --primary-color: #fff;
  --secondary-color: #0b7c6b;
  --search-box-color: #ecf8f7;
  --light-text: #17BD8D;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.productPage {
  display: grid;
  grid-template-columns: 20rem 1fr;
}
.productPage .productContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3% 4% 3% 4%;
}
.productPage .productContainer h3 {
  text-align: left;
}
.allProducts {
  display: flex;
  column-gap: 1.3%;
  flex-wrap: wrap;
}

.priceFilter {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.pageContainer {
  text-align: left;
  padding: 1rem 3rem 1rem 3rem;
}
.nameInput,
.passwordInput,
.emailInput {
  border: none;
  background: #f2f4f8;;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.signupPageContainer button, .profileForm .buttonContainer button{
  width: 10%;
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  border-radius: 20px;
  color: white;
  background: var(--secondary-color);
}
.profileForm .buttonContainer button{
  width: auto;
}
.passwordInputDiv {
  position: relative;
}
.showPassword {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 2%;
}
.otherMethodOfAuth {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 5%;
}
.otherMethodOfAuth p{
  color: var(--light-text);
  margin-top: 0.2rem;
  cursor: pointer;
}
.swiper-container {
  min-height: 225px;
  height: 55vh;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiperSlideImg {
  width: 80%;
  object-fit: cover;
}

.welcomeMessage {
  color: var(--light-text);
  position: absolute;
  top: 40%;
  left: 4%;
  font-weight: 800;
}
.welcomeText {
  color: var(--light-text);
  position: absolute;
  top: 50%;
  left: 4%;
  font-weight: 800;
  width: 35rem;
  text-align: left;
  font-size: 32px;
}
.productRedirectBtn {
  position: absolute;
  top: 75%;
  left: 4%;
  cursor: pointer;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  background: var(--primary-color);
  text-transform: uppercase;
  font-weight: 800;
}
.productRedirectBtn a {
  text-decoration: none;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 5px;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.filterDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.signupPageContainer, .loginPageContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1%;
}
.signupPageContainer form, .loginPageContainer form, .profileForm{
  width: 100%;
}
.profileForm .buttonContainer{
  display: flex;
  align-self: flex-start;
  gap: 0.2rem;
}
@media screen and (max-width: 768px) {
  .productPage {
    display: grid;
    grid-template-columns: 1fr;
  }
  .allProducts {
    column-gap: 3%;
  }
  .swiper-container{
    height: 40vh;
  }
  .pageContainer{
    padding: 1rem 1.5rem;
  }
  .signupPageContainer button{
    width: 20%;
  }
}

@media screen and (max-width: 550px) {
  .allProducts {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    column-gap: 0;
  }
  .productPage .productContainer {
    padding: 1rem;
  }
  .swiper-container{
    height: 30vh;
  }
  .welcomeMessage{
    font-size: 16px;
  }
  .welcomeText{
    font-size: 20px;
    width: 22rem;
  }
  .productRedirectBtn{
    padding: 0.5rem 0.75rem;
    font-size: 12px;
  }
  .signupPageContainer{
    padding-top: 4%;
  }
  .pageContainer{
    padding: 1rem;
  }
  .signupPageContainer button{
    width: 30%;
  }
}
